* {
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --color-primary: rgba(226, 226, 226, 0.9);
  --color-primary-dark: rgba(122, 122, 122, 0.9);
  --color-primary-light: rgba(242, 242, 242, 0.9);

  --color-white: #ffffff;
  --color-black: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
